
.company__title__inner h2,
.contact .company__acess__title__inner h1,
.footer__inner .p-header_list a,
.company__profile__title__inner h1,
.company__acess__title__inner h1{
    font-family: 'Noto Sans', sans-serif; 
}



















