*{
    margin:0;
    padding:0;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-style: normal;
}


ul,li{
    list-style-type: none;
}
#linkActive{
    color: #8C8C8C;
}
#footerLinkActive{
    color: #164A6F;
}

